body {
}
footer {
    clear:both;
}
#form{
   margin: 25px 50px;
}
legend {
  display: block;
  margin-left: 3px;
  padding-top: 2px;
  text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.75);
  font-family:Verdana, Geneva, sans-serif;
  font-size:.9em;
}
.inline {
  display:inline-block;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 500;
}