@{
    ViewBag.Title = "Home Page";
}
<section>
    <h1> Check Book Design</h1>
</section>

<section class="col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10 my-div">
    <section class="row">
        <div class="col-md-8 col-sm-8">
            <div>
                <h4><b>AB BANK</b></h4>
                <span>AB Bank Limited</span><br />
                <span>Payable at any Branch in Bangladesh</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            asas
        </div>
        @*<hr id="hr-one" style="clear:both" />*@
    </section>
    <section class="row">
        <div class="">
            <div>
                <h4><b>AB BANK</b></h4>
            </div>
        </div>
        @*<hr id="hr-one" style="clear:both" />*@
    </section>
    <section class="row">
        <div class="">
            <div>
                <h4><b>AB BANK</b></h4>
            </div>
        </div>
        @*<hr id="hr-one" style="clear:both" />*@
    </section>

</section>
