@{
    ViewBag.Title = "Home Page";
}
<section>
    <h1> Check Book Design</h1>
</section>
<section class="row">
    <div class="my-div">The border-radius property allows you to add rounded corners to elements.</div>
    <hr id="hr-one" style="clear:both" />
</section>